.header{
  display:flex;
  justify-content:flex-end;
  color:white;
  background-color: #232a34;
  padding:20px;
  margin:0px;
}

a{
  margin:5px;
  text-decoration:none;
  color:white;
}
a:hover{
  color:#2EE59D;
}
