.search {
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
}
@media screen and (max-width: 540px) {
  .search {
    flex-direction: column;
    align-items: center;
    justify-content:;

  }
  .btn {
    margin:auto;
    margin-top:10px;
  }

  .number{
    margin:auto;
  }
  .input{
    margin-bottom:10px;
  }
}
.number {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  margin: 0;
  outline: 0;
  margin-left: 20px;
  width: 40px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
}
.input {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;

  outline: 0;
  padding: 10px;
  width: 100%;

  background-color: #e8eeef;
  color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px;
  padding: 10px;

}


img {
  height: 379px;
  width: 300px;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card {
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transition: all 0.3s ease 0s;


}
.card:hover{
  transform: translateY(-7px);
}
.name {
  text-align: center;
}
.btn {
  width: 160px;
  display:flex;
  align-items:center;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #232a34;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-left: 40px;
}
.btn:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
h1 {
  text-align: center;
  color: #232a34;
}
.baniere {
  height: 300px;
  overflow: hidden;
  background-image: url(../../assets/nuage.png);
  background-position: center;
  background-size: cover;
  display:flex;
  flex-direction:column;
}
a{
  text-decoration:none;
  color:#232a34;
  border: 1px solid #232a34;
  margin: 5px;
  padding:5px;
  font-size:0.6em;
  border-radius:16px;

}
a:hover, a:focus, a:active {
  text-decoration: none;
  color: white;
  background:#232a34 ;
}
.lien{
  display:flex;
  margin-left:240px;


}
.text{
  padding:5px;
  margin:0;
}
