<div class="baniere">
  <form (ngSubmit)="searchPhotos()">
    <div class="search">
      <label for="search"></label>
      <input class="input" type="text" name="search" [(ngModel)]="search"
        placeholder="recherchez des photos gratuites...">
      <label for="number"></label>
      <input name="number" type="number" class="number" [(ngModel)]="per_page">
      <button type="submit" class="btn">Rechercher</button>
    </div>
  </form>
</div>
<div class="container">
  <div *ngFor="let item of data" class="card">
    <img src="{{ item.src.large }}">

    <p class="name">{{item.photographer }}</p>

    <span class="lien"><a href="{{ item.src.original}}" target="blank">original</a></span>
  </div>

</div>
<app-message *ngIf="loading"></app-message>
