<div class="container">
  <h3>" Les plus belles images libres de droit partagées gratuitement par des créateurs talentueux. "</h3>
  <h4>Qu'est ce qui est autorisé ?</h4>
  <ul>
    <li><i class="fas fa-check"></i>Toutes les photos et vidéos sur Pexels sont gratuites.
    <li><i class="fas fa-check"></i>Aucune attribution n'est requise. Mentionner le photographe ou Pexels n’est pas
      obligatoire, mais toujours
      apprécié.</li>
    <li><i class="fas fa-check"></i>Vous pouvez modifier les photos et vidéos de Pexels. Soyez aussi créatif que vous le
      voulez avec vos
      modifications.</li>
  </ul>
  <h4>Qu'est ce qui n'est pas autorisé ?</h4>
  <p class="note">Respectez le dur travail de nos contributeurs et gardez ces limitations à l'esprit.</p>
  <ul>
    <li><i class="fas fa-times"></i>Les personnes identifiables ne doivent pas apparaître sous un mauvais jour ou d’une
      façon offensante.</li>
    <li><i class="fas fa-times"></i>Ne vendez pas de copies brutes d’une photo ou d’une vidéo. Par exemple, ne les
      vendez pas comme des photos,
      affiches, tirages ou sur des produits matériels sans les modifier au préalable.</li>
    <li><i class="fas fa-times"></i>Aucune personne ou marque impliquant un soutien publicitaire à votre produit ne doit
      apparaitre sur l’image.
    </li>
    <li><i class="fas fa-times"></i>Ne redistribuez ou ne vendez pas de photos et de vidéos sur d’autres plates-formes
      de photo ou de fond d’écran.
    </li>
  </ul>
</div>
