<h1>Bienvenue sur l'app de mathieu</h1>

<p>Le but de ce projet est de me familiariser avec le framework frontend javascript Angular.<br>
  Le projet consiste à créer un formulaire et d'afficher de manière dynamique des photographie en fonction d'un mot clé.
</p>
<h2>Spécification:</h2>
<ul>
  <li>Application créer avec Angular 12.2.6 </li>
  <li>Utilisation du router Link, création de composants, création de servives</li>
  <li>Utilisation de l'api Pexels </li>
</ul>
<h2>Fonctionnalités implémentées:</h2>
<ul>
  <li>Recherche de photo en fonction d'un mot clé</li>
  <li>Choix du nombre de photo à afficher</li>
</ul>
